$primary-color: #29cc88;
$secondary-color: #52cc97;
$danger-color: #e74c3c;
$success-color: #2ecc71;
$text-color: #131314;
$secondary-text-color: #ffffff;
$bg-color: #ffffff;
$secondary-bg-color: #e8e9eb;
$tablet: 768px;
$mobile: 480px;